.StickyHeader {
  position:fixed;
  width: 100%;
}

#header-container {
  background: black;
  color: white;
  height: 90px;

}

@media (min-width:768px) {
  #header-container {
    display: flex;
    justify-content: space-between;

  }
}

.header-col {
  box-sizing: border-box;
  border: 2px solid yellow;
  flex-basis: 25%;
  display: flex;

}

.header-content {
  margin: auto;

}
