
.header-layout {
  display: flex;
  background: black;
  color: white;
  height: 90px;
  justify-content: space-between;
}

.header-col {
  box-sizing: border-box;
  border: 2px solid yellow;
  flex-basis: 25%;
}
